table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  Table-Layout:fixed;
}

#tape {
  background-color: #f2f2f2;
}

#tape td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

/* Add a new class for the highlighted tape cell */
.highlighted {
  background-color: #ffcc66; /* Set the background color for the highlighted cell */
}

.highlighted-state {
  background-color: #66b3ff; /* Set the background color for the highlighted state */
}
#tape {
  background-color: #f2f2f2;
}

#tape td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

/* Add a new class for the highlighted tape cell */
.highlighted {
  background-color: #ffcc66; /* Set the background color for the highlighted cell */
}

.highlighted-state {
  background-color: #66b3ff; /* Set the background color for the highlighted state */
}
